* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
// -----------------FONTS-------------------- //
.body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #535353;
}

@mixin extra-bold {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
}

@mixin button-fonts {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}